<h1 class="sub_title">My Subscriptions</h1>

<table class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Most Recent Note</th>
        <th>Select Player</th>
      </tr>
    </thead>
    <tbody>

        <% @my_players.each do |player| %>
          <tr>          
          <td><a href="players/<%= player[0].id %>"><%= player[0].player_name %></a>
          <td><%= player[0].notes[0] ? player[0].notes[0].note_preview : "no recent notes" %></td>
          <td><%= link_to 'Delete', "/subscriptions/#{player[0].id}", method: :delete %></td>
        </tr>
        <% end %>   
    </tbody>
  </table>