<section>
  <%= text_field_tag :search, "", class: "search_players form-control", placeholder: "Search Here..." %>
  <table>
    <thead></thead>
    <tbody id='search_container'>
    </tbody> 
  </table>
</section>

<section class="players">
<section class="latest-news">
  <header>Recent News</header>
    <% @latest_notes.each do |note| %>
      <ul>
        <strong><%= note.note_date %></strong>
        <%= note.note_preview.html_safe %>
        
      </ul>
    <% end %>
</section>
<table class="table table-striped">
    <thead>
      <tr>
        <th>Player Name</th>
        <th>Most Recent Note</th>
        <th>Add Player</th>
      </tr>
    </thead>
    <tbody>
        <% @players.each do |player| %>
          <%= render player %>
        <% end %>   
    </tbody>
  </table>
</section>

<script type="text/javascript">


function setSearchedPlayer(p) {
console.log(p);
  $('#search_container').html("");
  for(let player of p){
    let $data = $('<tr><td><a href="/players/' + player.id + '">' + player.player_name + '</a></td></tr>') ;
    $('#search_container').append($data)
  }
  $('#search_container').css('display','block');
}

$(".search_players").keyup(function() {
      $.ajax({
        type:"GET",
        url: "/search",
        data: {search: $(this).serialize()},
        success: function(p){
          setSearchedPlayer(p);
        }
      });
  });
</script>