<section class="players">
  <table>
    <thead>
      <tr>
        <th>Team</th>
        <th>Player Name</th>
        <th>Most Recent Note</th>
      </tr>
    </thead>
    <tbody id='player_container'>
        <% @players.each do |player| %>
          <%= render player %>
        <% end %>   
    </tbody>
  </table>
</section>