/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgb(2,0,36);
   background: linear-gradient(7deg, rgba(2,0,36,1) 2%, rgba(9,9,121,1) 32%, rgba(0,212,255,1) 100%);
   padding: 20px;
   color: #fff
 }

 .nav-container a {
   text-decoration: none;
   color: #fff
 }

 .nav-list a {
   text-decoration: none;
 }
 
.navbar-Logo {
  font-family: 'Courgette', cursive;
  font-size: 64px;
}

 .nav-list li {
   display: inline;
   padding-right: 15px;
 }

 .players {
   display: flex;
 }

 .latest-news {
   order: 2;
   border: solid 1px #e1e7ee;
   padding: 15px;
   width: 80%;
   margin: 20px;
   height: fit-content;
 }

 .latest-news header {
  font-weight: bold;
  color: #1f1f1f;
 }

 .players table {
   width: 300%;
 }