/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .nav-container {
   display: flex;
   justify-content: space-between;
   align-items: center;
   background: rgb(3, 63, 73);
   background: linear-gradient(7deg, rgb(3, 63, 73) 2%, rgb(8, 132, 170) 32%, rgb(7, 192, 230) 100%);
   padding: 10px 20px 10px 20px;
   color: #fff;
   border-radius: 5px;
   width: 100%;
 }

 body {
   background-color: rgb(240, 185, 144);
 }

 .page_titles {
  font-family: 'Cormorant Garamond', serif;
  font-size: 60px;
  background-color: rgb(240, 185, 144);
}

 .basketball_pic_container {
   display: flex;
   width: 100%;
   justify-content: center;
 }

 #fantasy_pic {
   width: 100%;
   height: 40vh;
   margin-bottom: 3%;
 }

 .table-striped>tbody>tr:nth-child(odd)>td, 
 .table-striped>tbody>tr:nth-child(odd)>th {
    background-color: rgb(187, 226, 233); 
  }

  .table-striped>tbody>tr:nth-child(even)>td, 
.table-striped>tbody>tr:nth-child(even)>th {
   background-color: rgb(238, 233, 174); 
 };

 .nav-container a {
   text-decoration: none;
   color: #fff
 }

 .nav-list a {
   text-decoration: none;
   color: rgb(224, 82, 26);
   font-size: 25px;
 }

 .sign_in_name {
   font-size: 20px;
   color: rgb(243, 221, 26);
 }
 
.navbar-Logo {
  font-family: 'Merriweather', serif;
  font-size: 64px;
  color: rgb(241, 108, 31);
  text-shadow: 2px 2px rgb(245, 225, 47);
}

.navbar-Logo:hover {
  color:rgb(224, 82, 26);
  text-shadow: 3px 3px rgb(243, 222, 33);
}

 .nav-list li {
   display: inline;
   padding-right: 15px;
 }

 .players {
   display: flex;
 }

 .latest-news {
   order: 2;
   border: solid 1px #e1e7ee;
   padding: 15px;
   width: 80%;
   margin: 20px;
   height: fit-content;
   background-color: rgb(245, 239, 153); 
 }

 .latest-news header {
  font-weight: bold;
  color: #1f1f1f;
 }

 .players table {
   width: 300%;
 }

 tbody a {
   font-size: 20px;
   color: rgb(39, 6, 3);
 }

 /* Add notes page */
 
 .well {
   background-color: rgb(238, 233, 174);
 }