// Place all the styles related to the players controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.search_players{
  background-image: url('searchicon.png'); /* Add a search icon to input */
  background-position: 100% 2px;/* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  font-size: 16px; /* Increase font-size */
  border: 1px solid #ddd; /* Add a grey border */
  background-size: 3% 90%; /* Add some space below the input */
}

#search_container{
  display : none;
}